* {
  box-sizing: border-box;
}

.LoadingOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: lightgray;
}

form {
  border: 1px solid rgb(119, 119, 119);
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

label {
  display: block;
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 3px;
}

input,
textarea {
  display: block;
  border: 1px solid blue;
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 3px;
  margin-bottom: 20px;
}

textarea {
  height: 30vh;
  resize: vertical;
}
.form-group {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 20px;
}

.comment-btn,
.submit-btn,
.delete-btn,
.cancel-btn,
.update-btn {
  font-size: 1.3rem;
  padding: 8px 15px;
  color: white;
  background-color: blue;
  border: 1px solid white;
  border-radius: 3px;
  outline: 1px solid lightgray;
  cursor: pointer;
}

.comment-btn,
.update-btn,
.delete-btn,
.cancel-btn {
  margin: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: 6px 10px;
}

.errors {
  font-size: 1.2rem;
  color: red;
}

.head {
  margin-top: 0;
  background-color: blue;
  color: white;
  text-align: start;
  padding: 10px 10px 10px 30px;
}

.card {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  margin: 20px 10px;
  padding: 20px;
  text-decoration: none;
}

.Link {
  text-decoration: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 450;
  color: blue;
}

.card-content {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: justify;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.Nav {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 10px;
}

.logout {
  cursor: pointer;
}

.nav-links {
  padding: 10px 10px;
  background-color: blue;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.comments {
  border: 1px solid rgb(235, 235, 235);
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

.comment-detail {
  border: 1px solid rgb(235, 235, 235);
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;
}

.comment-detail-user {
  font-weight: bold;
  color: rgb(40, 40, 40);
}

.comment-detail-comment {
  color: rgb(60, 60, 60);
}

.loading-comments {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
